@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@300;400;500;600;700;800&display=swap");
html {
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
}

@layer base {
  body {
    @apply bg-[#0A192F] text-[#1f2937] tracking-wide;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl font-[Raleway];
  }

  h2 {
    @apply text-3xl sm:text-4xl;
  }

  li {
    @apply cursor-pointer;
  }
  p {
    font-family: "Sofia Sans", sans-serif;
    color: #8892b0;
  }
}
/* 
.hero-section {
  background: rgb(10, 25, 47);
  background: linear-gradient(
    159deg,
    rgba(10, 25, 47, 1) 0%,
    rgba(10, 25, 47, 0.5699230375744048) 100%,
    rgba(255, 255, 255, 1) 100%
  );
} */

.anime-ico {
  animation: anime-ico 1s infinite ease-in-out alternate;
}
.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  z-index: 99999999999999;
  background: #64ffda;
  transform-origin: 0%;
}

.section-title {
  font-weight: 600;
  line-height: 1.1;
  color: #ccd6f6;
}
